{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<!-- Contact Page: Contains email and LinkedIn information -->
<div class="text-box animated-line">
    <h1>Contact Me</h1>
    <p>Email: dagapay1@jh.edu</p>
    <p>
    <img src="{{ url_for('static', filename='LinkedIn_logo_initials.png') }}" alt="LinkedIn"
     style="width: 24px; vertical-align: middle; margin-right: 8px;">
    <a href="https://www.linkedin.com/in/yourprofile" target="_blank" style="color: white;">
        https://www.linkedin.com/in/darren-agapay-a317a8206/
    </a>
</p>

</div>
{% endblock %}
