{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="text-box animated-line">
    <h1 style="font-size: 48px;"> My Projects</h1>
    <h2>Module 1: Personal Website</h2>
    <p>
        This website is built as part of JHU EP 605.256 to showcase the fundamentals of website construction.
        The basis of the website will be done through Flask, which is a micro web framework in Python.
    </p>
    <p>
        GitHub: 
        <a href="https://github.com/dtagapay/jhu-software-concepts.git" target="_blank">
            View on GitHub
        </a>
    </p>
</div>
{% endblock %}
